
if error
    p error

form(method="POST" action="." autocomplete="off")
    table
        tr
            td(colspan="2")
                h2 Order
        tr
            td Price:
            td
                input(type="number")
        tr
            td Currency:
            td
                select
                    each currency in currencies
                        option(value=currency.code)
                            = currency.displayName
        tr
            td Full Name:
            td
                input(type="text")
        tr
            td(colspan="2")
                br
                h2 Payment
        tr
            td Name on credit card:
            td
                input(type="text")
        tr
            td Credit card number:
            td
                input(type="text")
        tr
            td Credit card expiration date:
            td
                select
                    each expiration in expirationDates
                        option(value=expiration.code)
                            = expiration.displayName
        tr
            td Credit card CCV:
            td
                input(type="text")
    input(type="submit")
